/* :root {
    --dark-purple: #330072;
    --bright-purple: #924DA7;
    --gold: #F2A900;
    --bg-focus-grey: rgba(229,229,229,0.25);
    --bg-light-grey: #e5e5e5;
    --text-light: #777777;
    --text-dark: #000000;
} */

body {
    color: var(--text-primary);
    font-size: 16px;
    line-height: 1.6em;
    background-color: var(--background);
}

.main-container a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:focus {
    color: var(--secondary);
    text-decoration: underline;
}

.font-small {
    font-size: 0.85em;
}

/* h1.page-header {
    margin: 0 0 15px;
    padding: 0 15px 15px;
    border-color: var(--lightgrey);
    border: 0;
    font-size: 2.5em;
} */

h1.page-header {
    background: var(--darkgrey);
    margin: 0 -15px;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    color: var(--text-light);
}

h1.node-header {
    margin: 0 0 15px;
    font-size: 1.8em;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--darkgrey);
}

h1.term-page-header {
    margin: 0 0;
    font-size: 1.5em;
}

h1.view-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    margin: 1.2em 0;
    font-size: 1.2em;
}

h3.small-header {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 0;
}

p {
    margin:  0 0 1.2em;
}

.separator-above {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--darkgrey);
}
.separator-below {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--darkgrey);
}

.sticky-top {
    position: sticky;
    top: 0px;
}

.alert {
    margin: 0 -15px;
    border-radius: 0;
}

/**
 * Header and Main Navbar 
 */
.navbar-default {
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    margin-bottom: 0px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}
header.navbar > .container-fluid {
    max-width: 1200px;
}
header.navbar .logo {
    margin: 0 15px 0 0;
    padding: 0;
    line-height: 60px;
}
header.navbar > .container-fluid a.navbar-brand {
    color: #ffffff;
    font-size: 1.3em;
    padding: 0 15px;
    line-height: 60px;
    margin-right: 30px;
    margin-left: 0px;
    height: unset;
    font-weight: bold;
}
header.navbar > .container-fluid a.navbar-brand:hover,
header.navbar > .container-fluid a.navbar-brand:focus {
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: inherit;
    line-height: 60px;
    padding: 0 15px;
    font-weight: normal;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0,0,0,0.2);
    color: inherit;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a.is-active,
.navbar-default .navbar-nav > li > a.is-active:hover,
.navbar-default .navbar-nav > li > a.is-active:focus {
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0.2);
    box-shadow: inset 0px -5px 0 0px var(--accent);
}

/** 
 * Inner Navigation
 */
#inner-navbar-collapse {
    background: var(--lightgrey);
}
.region-inner-nav > nav {
    max-width: 1200px;
    margin: auto;
}
.region-inner-nav > nav  > ul.menu > li {
    float: left;
}
.region-inner-nav > nav  > ul.menu > li > a {
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    color: var(--textdark);
}
.region-inner-nav > nav  > ul.menu > li > a.active,
.region-inner-nav > nav  > ul.menu > li > a.is-active,
.region-inner-nav > nav  > ul.menu > li.active > a,
.region-inner-nav > nav  > ul.menu > li > a.is-active:hover,
.region-inner-nav > nav  > ul.menu > li > a.is-active:focus { 
    box-shadow: inset 0 -3px 0 0 var(--secondary);
    color: var(--secondary);
}
.region-inner-nav > nav  > ul.menu > li > a:hover,
.region-inner-nav > nav  > ul.menu > li > a.focus {
    background-color: rgba(0,0,0,0.05);
}


/**
 * Main container region 
 */
div.main-container.container-fluid {
    max-width: 1200px;
    margin-top: 30px;
    min-height: 70vh;
}

div.main-container.container-fluid.full-width {
    max-width: unset;
    margin-top: 0px;
}

body.path-catalogue div.main-container.container-fluid,
body.path-frontpage div.main-container.container-fluid {
    max-width: unset;
    margin-top: 0px;
}

/**
 * Views and Views filters
 */
.view > .view-filters.form-group {
    padding: 20px;
    background-color: var(--lightgrey);
    margin: 0 -15px 30px;
}
.views-exposed-form > .form-inline {
    text-align: center;
    width: auto;
}
.views-exposed-form > .form-inline > .form-item {
    margin-right: 15px;
}
.views-exposed-form > .form-inline > .form-item > label {
    font-weight: normal;
    color: var(--text-primary);
    font-size: 0.875em;
    margin-right: 5px;
}
.views-exposed-form > .form-inline > .form-actions {
    margin: 0;
    padding: 0;
    border: unset;
}
.views-exposed-form > .form-inline > .form-actions > button {
    font-size: 0.875em;
    padding: 5px 7px;
    margin-right: 0px;
    line-height: 1em;
    height: 32px;
    display: inline-block;
    width: auto;
}
.views-exposed-form > .form-inline > .form-actions > button#edit-reset {
    color: var(--text-light);
}
.view.title-in-header > .view-header {
    margin: 0 0 30px;
    background-color: var(--lightgrey);
    padding: 20px;
}
.view.fixed-width > .view-content {
    max-width: 1200px;
    margin: auto;
}
.view > .view-empty {
    color: #777;
    text-align: center;
    padding: 30px 0;
    margin: 30px 0;
    border-top: 1px solid var(--darkgrey);
    border-bottom: 1px solid var(--darkgrey);
}
.views-row.fields-with-labels > .views-field {
    margin-bottom: 15px;
}
.views-row.fields-with-labels > .views-field > .views-label {
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
    color: var(--text-light);
    font-weight: bold;
}
.flexgrid-spacebetween .view-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexgrid-spacebetween .view-content .views-row {
    min-width: 200px;
    margin-bottom: 20px;
}
.view .feed-icons {
    margin-top: 50px;
}

.title-in-viewheader .view-header {
    margin: 0 0 20px 0;
    color: var(--text-light);
}

/**
 * Nodes
 */
.node.node--view-mode-full > .field {
    margin-bottom: 30px;
}
.node.node--view-mode-full > .field .field--label {
    font-size: 0.875em;
    text-transform: uppercase;
    color: var(--text-light);
}
.field .field-horizontal .field--item {
    display: inline-block;
    margin-right: 15px;
}

/**
 * Sidebar Nav
 */
.region-sidebar-first > nav > ul > li > a {
    background-color: var(--lightgrey);
    margin-bottom: 5px;
}
.region-sidebar-first > nav > ul > li.active > a {
    background-color: var(--darkgrey);
}

/**
 * Sidebar Second
 */
.region-sidebar-second {
    padding: 20px;
    background-color: var(--lightgrey);
    border-color: var(--darkgrey);
    border: 0;
    border-radius: 4px;
    box-shadow: unset;
}

/** 
 * Wells
 */
.well {
    padding: 20px;
    background-color: var(--lightgrey);
    border-color: var(--lightgrey);
    border: 0;
    border-radius: 0;
    box-shadow: unset;
}

/**
 * Cards
 */
.card-two-col > .card-right {
    padding-top: 50px;
}
.user-picture img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}
h1.card-heading {
    margin: 0;
    font-weight: bold;
    font-size: 1.8em;
}
p.card-subtitle {
    margin-top: 5px;
    color: var(--text-light);
    font-size: 1.1em;
}


/**
 * Fieldsets / Panels
 */
.panel {
    margin-bottom: 30px;
} 
.panel-default {
    border-color: var(--darkgrey);
}
.panel-default > .panel-heading {
    color: var(--text-light);
    background-color: var(--darkgrey);
    border-color: var(--darkgrey);
}

/**
 * Forms and inputs
 */
.form-inner-wrapper {
    max-width: 1366px;
    margin: auto;
}
.form-top {
    background: var(--lightgrey);
    margin-bottom: 30px;
    padding: 15px;
    z-index: 999;
}
.form-top .field--name-field-form-help-top {
    float: left;
    margin-bottom: 0px;
}
.form-top .form-actions {
    float: right;
    margin-bottom: 0px;
}
.field--type-markup {
    font-size: 0.9em;
}
.help-block {
    line-height: 1.4em;
    font-size: 0.77em;
    margin: 5px 0 0;
}
.modal-open .modal {
    z-index: 1050;
}


 /**
  * Buttons
  */
.form-actions button {
    margin-right: 8px;
    border-width: 3px;
    font-weight: bold;
}
/* delete node button */
.form-actions > a.button {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 10px 0 0;
    border: 3px solid;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
}

a#edit-cancel:hover,
a#edit-cancel:focus {
    background-color: var(--darkgrey);
    text-decoration: none;
    color: #000;
}
a#edit-delete:hover,
a#edit-delete:hover {
    color: #fff;
    text-decoration: none;
    background: red;
    border-color: red;
}


/**
 * User Dashboard
 */
.user--view-mode-full > .field {
    margin-bottom: 30px;
}

/**
 * Tables
 */
.table > thead > tr > th {
    border-bottom: 0;
    color: var(--text-light);
    padding-bottom: 15px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 10px;
    border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: unset;
}
.table-hover > tbody > tr:hover {
    background-color: var(--lightgrey);
}

/**
 * Footer
 */

.footer {
    border-top: 1px solid var(--darkgrey);
    margin-top: 50px;
    padding: 30px;
}
#block-footercolumns {}
#block-footerbranding {
    float: right;
    width: 20%;
    text-align: right;
}
#block-footerbranding img {
    max-width: 200px;
}
#block-h5pstarter-footer {
    float: left;
    width: 80%;
    margin-top: 15px;
}
#block-h5pstarter-footer ul.menu > li {
    display: inline-block;
}
#block-h5pstarter-footer ul.menu > li > a {
    padding: 0;
    margin-right: 15px;
    font-weight: bold;
}
#block-h5pstarter-footer ul.menu > li > a:hover,
#block-h5pstarter-footer ul.menu > li > a:focus {
    background: unset;
    text-decoration: underline;
    color: var(--secondary);
}

#block-footerh5pinfo {
    float: left;
    width: 80%;
    margin-top: 15px;
}

